{% extends 'base.html.twig' %}

{% block title %}Update Database{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    //TODO: periodType iS NULL
    <hr>
    <a href="javascript:history.back()">Go Back TODO: Needs better solution</a>


{% endblock %}