{% extends 'base.html.twig' %}

{% block title %}Update Connection{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {# TODO: BData, BDatabases (can be NULL) #}


    <hr>
    <a href="javascript:history.back()">Go Back  TODO: Needs better solution</a>   {# TODO: Needs better solution (if submited it returns to written imputs first) #}

{% endblock %}