{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <a href="{{ path('project_list') }}" class="btn btn-primary"  role="button">Go Back</a>
    <hr>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

