{% extends 'base.html.twig' %}

{% block title %}Project List Articles{% endblock %}

{% block body %}
    {% if projects %}
        <table id="projects" class="table table-striped">
            <thead>
            <tr>
                <th>Project Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>
                        <a href="/article/{{ project.id }}" class="btn btn-dark">Show</a>
                        <a href="/article/edit/{{ project.id }}" class="btn btn-light">Edit</a>
                        <a href="#" class="btn btn-danger delete-article" data-id="{{ project.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No articles to display</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
